@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Customer Window Setting: Start*/
.reservations_consumer {
  position: absolute;
  background-color: #000000;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  top: 150px;
  left: 50px;
  width: '100px'
}

.dates {
  position: absolute;
  left: 550px;
  top: 10px;
}

.times {
  position: absolute;
  left: 550px;
  top: 50px;
}

.seats {
  position: absolute;
  top: 170px;
  left: 550px;
}
/* Customer Window Setting: End*/

.manager_button_container {
  text-align:center;
}

.manager_button:hover {
  background-color: turquoise;
}

.manager_button {
  color: white;
  background-color: black;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  border-radius: 5px;        
  transition: background-color 0.3s ease;
  margin: 5px;
  cursor: pointer;
}

.manager_button:hover {
  background-color: turquoise;
}