@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #314329;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #314329;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Customer Window Setting: Start*/
.reservations {
  position: absolute;
  background-color: #000000;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  top: 150px;
  left: 50px;
}

.dates {
  position: absolute;
  left: 550px;
  top: 10px;
}

.times {
  position: absolute;
  left: 550px;
  top: 50px;
}

.seats {
  position: absolute;
  top: 170px;
  left: 550px;
}
/* Customer Window Setting: End*/

.configbutton {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 150px; 
}