@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #314329;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #314329;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Customer Window Setting: Start*/
.reservations_consumer {
  position: absolute;
  background-color: #000000;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  top: 150px;
  left: 50px;
  width: '100px'
}

/* Customer Window Setting: End*/


.manager_button_container {
  text-align:center;
}

.manager_button {
  background-color: green; /* Green background */
  color: white;              /* White text */
  border: none;              /* No border */
  padding: 10px 20px;        /* Padding inside the button */
  text-align: center;        /* Center the text */
  text-decoration: none;     /* Remove underline */
  display: inline-block;     /* Display as inline block */
  font-size: 16px;           /* Font size */
  border-radius: 5px;        /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
}

.manager_button:hover {
  background-color: turquoise;
}